#backup file
*.*~

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

### personal
# setuptools cache
.eggs
*.swp
## PyCharm
#.idea/
#.idea/workspace.xml
#*.rst
#
**/.DS_Store
bypy/test/**/*.bin
bypy/test/downdir/
bypy/test/sharedir/
bypy/test/configdir/bypy.setting.json
bypy/test/configdir/bypy.hashcache.json
.vscode/tags
